*{
    font-family: "arial";
    background-color: cornsilk;
}
html{
    scroll-behavior: smooth;
}
/*Inicio*/
.inicio {
    text-align: center;
    color: #fff;
}
#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Separa el texto y la imagen */
}

.texto {
    display: flex;
    flex-direction: column; /* Acomoda el texto en columna */
}

.foto img {
    width: 150px;   /* Ajusta el tamaño según necesites */
    height: 150px;  /* Igual a width para que sea cuadrado */
    object-fit: cover; /* Ajusta la imagen dentro del cuadro */
    margin-left: 20px; /* Espacio entre el texto y la imagen */
}

.box {
    background: cornsilk;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left; /* Asegura alineación del texto */
    max-width: 50%; /* Ajusta el ancho máximo al 50% de la pantalla */
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide en dos columnas */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa toda la pantalla */
}

.resumen {
    justify-self: end; /* Lo manda a la derecha */
    width: 40%;
    text-align: left;
    border-left: 3px solid rgb(0, 4, 255);
    border-top: 3px solid yellow;
    padding: 20px;
    transform: translateY(-500px); /* Sube la sección */
}

