

*{
    font-family: "arial";
    
}
html{
    scroll-behavior: smooth;
    background-image: url("IMG/itl.cat_grey-wallpaper_2303750.png");
}
/*Inicio*/
.inicio {
    text-align: center;
}
#inicio {
    justify-content: center;
    align-items: left;
    text-align: center;
    width: 100%;
    list-style: none;
}


.info {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Separa el texto y la imagen */
}

.texto {
    display: flex;
    flex-direction: column; /* Acomoda el texto en columna */
}

.foto img {
    width: 150px;
    height: 150px;
    
    background-size: cover;
    background-position: center;
    
}

.box {
    background: gray;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left; /* Asegura alineación del texto */
    max-width: 50%; /* Ajusta el ancho máximo al 50% de la pantalla */
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide en dos columnas */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa toda la pantalla */
}

.resumen {
    background: grey;
    justify-self: end; /* Lo manda a la derecha */
    width: 40%;
    text-align: left;
    border-left: 3px solid rgb(0, 4, 255);
    border-top: 3px solid yellow;
    padding: 20px;
    transform: translateY(-550px); /* Sube la sección */
}
.resumen.contenido-section{
    background-color: cornsilk;
}

