

*{
    font-family: "arial";
    
}
html{
    scroll-behavior: smooth;
    background-image: url("IMG/istockphoto-1009726070-612x612.jpg");
}
/*Inicio*/
#inicio {
    text-align: center;
    width: 100%;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Separa el texto y la imagen */
}

.texto {
    display: flex;
    flex-direction: column; /* Acomoda el texto en columna */
}

.foto img {
    width: 150px;
    height: 150px;
    
    background-size: cover;
    background-position: center;
    
}

.box {
    background: rgb(230, 219, 219);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left; /* Asegura alineación del texto */
    max-width: 50%; /* Ajusta el ancho máximo al 50% de la pantalla */
    display: grid;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide en dos columnas */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa toda la pantalla */
}

.resumen {
    background: rgb(230, 219, 219);
    justify-self: end; /* Lo manda a la derecha */
    width: 40%;
    text-align: left;
    border-left: 3px solid rgb(0, 4, 255);
    border-top: 3px solid yellow;
    padding: 20px;
    transform: translateY(-550px); /* Sube la sección */
    display: grid;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1);;
}


