*{
    font-family: "arial";
}
html{
    scroll-behavior: smooth;
}
/*Inicio*/
.inicio {
    text-align: center;
    color: #fff;
}
#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Separa el texto y la imagen */
}

.texto {
    display: flex;
    flex-direction: column; /* Acomoda el texto en columna */
}

.foto img {
    width: 150px; /* Ajusta el tama침o de la imagen */
    border-radius: 50%; /* Opcional: Para que la imagen sea redonda */
    margin-left: 20px; /* Espacio entre el texto y la imagen */
}

.box {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left; /* Asegura alineaci칩n del texto */
    max-width: 50%; /* Ajusta el ancho m치ximo al 50% de la pantalla */
}

.container {
    display: flex;
    justify-content: space-between; /* Distribuye el contenido */
    align-items: flex-start; /* Alinea elementos arriba */
    width: 100%;
    position: relative; /* Para controlar la posici칩n del resumen */
}

.resumen {
    width: 40%;
    text-align: right;
    position: absolute;
    top: 0; /* Lo sube al inicio del contenedor */
    right: 0; /* Lo pega a la derecha */
    padding: 20px;
    border-left: 3px solid yellow;
    border-top: 3px solid yellow;
}
